:root {
  --title-color: rgba(245, 245, 245, 0.9);
  --title-font: "Cormorant Garamond", serif;
}

* {
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: rgba(245, 245, 245, 0.25);
}

.container {
  height: 100vh;
  background: url("banner.jpg") no-repeat center/100%;
  display: flex;
}

.sideBar {
  height: 100%;
  flex: 1;
  width: 50%;
  position: relative;

  .logo {
    position: relative;
    width: 100%;
    top: 10%;
    color: var(--title-color);

    h3 {
      font-family: var(--title-font);
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      letter-spacing: 4px;
      text-align: center;
    }
  }

  .photoCredit {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 1rem;
    > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.formWrapper {
  height: 100%;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.75);
}
