:root {
  --main-color: rgba(245, 245, 245, 0.9);
  --title-font: "Cormorant Garamond", serif;
  --text-font: "Red Hat Display", sans-serif;
  --secondary-color: #bc805a;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

*::selection {
  background-color: rgba(245, 245, 245, 0.25);
}

.container {
  height: 100vh;
  background: url("banner.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  height: 80%;
  width: max(50%, 380px);
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    font-family: var(--title-font);
    color: var(--main-color);
    font-weight: 300;
    text-transform: uppercase;
    font-size: clamp(1rem, calc(4vw + 1.5rem), 5rem);
    letter-spacing: 4px;
    text-align: center;
  }

  .formLayout {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 32px;

    fieldset {
      display: flex;
      font-size: 1rem;
      margin-bottom: 32px;
      border: none;
      column-gap: 32px;

      > .formField {
        flex: 1;

        label {
          color: var(--main-color);
          cursor: pointer;
          display: block;
          margin-bottom: 8px;
          letter-spacing: 1px;
        }

        input,
        select {
          height: 48px;
          background-color: transparent;
          padding: 0 8px;
          font-size: inherit;
          outline: none;
          border: 1.35px solid var(--main-color);
          color: var(--main-color);
          width: 100%;
          box-sizing: border-box;
          background-color: transparent;
        }

        option {
          color: var(--secondary-color);
        }

        select,
        [type="date"] {
          cursor: pointer;
        }
      }
    }

    .buttonWrapper {
      text-align: center;
      padding: 12px;

      button[type="submit"] {
        background-color: transparent;
        height: 42px;
        box-sizing: content-box;
        padding: 8px;
        border: 1.5px solid var(--main-color);
        color: var(--main-color);
        width: 50%;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 1px;
      }

      button[type="submit"]:hover {
        background: var(--main-color);
        color: var(--secondary-color);
        transition: background 0.25s;
      }
    }
  }
}
